{% load static from staticfiles %}
<html>
<head>
    <title>匿名發文--紅樓康普爛</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/create_submission.css" %}">
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "js/create_submission.js" %}"></script>
</head>

<center><img src="{% static "img/banner.jpg" %}"></img></center>

<center><div class="submission_form_container">
    <form action="" id="submission_form" method="POST">
        {% csrf_token %}
        <textarea name="submission_context" onkeyup="cont_change()" id="editor" placeholder="每日看康版有益身體健康(?)"></textarea>
        <div id="submit_type_choice">
            <input type="radio" id="stc_0" name="submission_type" value="0" checked=true><label for="stc_0"><div>康文</div></label>
            <input type="radio" id="stc_1" name="submission_type" value="1"><label for="stc_1"><div>康文字圖</div></label>
        </div>
    </form>
    <div class="button" id="submit_button">Complain!</div>
</div></center>
