{% load static from staticfiles %}
<html>
<head>
    <title>紅樓康普爛--Submissions</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/submission_list.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "js/submission_list.js" %}"></script>
</head>
<body>
    <div class="main_panel">
        <ul>
            <li id="publish_button">Publish</li>
            <li id="delete_button">Delete</li>
            <a href="{% url "logout" %}"><li id="logout_button">logout</li></a>
        </ul>
    </div>
    <div class="submission_container">
        <form method="POST" action="{% url 'post_operation' %}" id="publish_form">
            {% csrf_token %}
            <input name="op_type" id="form_op_type" type="hidden">
            {% for submission in submissions %}
                <div class="submission_panel">
                    <input id="cb_{{ submission.id }}" name="submissions" type="checkbox" value="{{ submission.id }}">
                    <label for="cb_{{ submission.id }}"><div class="select_button">✓</div></label>
                    <div class="edit_button" onclick="edit_submission({{ submission.id }})">edit</div>
                    <div class="type_tag">{{ submission.submit_type }}</div>
                    <div class="submission_context_container" id="sub_cont_{{submission.id}}">{{ submission.context|linebreaks }}</div>
                </div>
            {% endfor %}
        </form>
    </div>
    <div class="edit_window">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="submission_id" id="edit_submission_id">
            <textarea id="editor" name="submission_context"></textarea>
            <div id="save_button">Save</div>
            <div id="cancel_button">Cancel</div>
        </form>
    </div>
</body>
</html>
