body{
    margin: 0pc;
    background-color: #000000;
    color: #FFF;
    font-family: sans-serif;
}
img
{
    max-width:100%;
    height: 20%;
}
ul{
    list-style-type: none;
}

.button{
    cursor: pointer;
}
.submission_form_container{
    width: 40%;
}
#editor{
    width: 100%;
    height: 400px;
    font-size: 18px;
    background-color: rgba(51, 51, 51, 0.4);
    color: #FFF;
    border-style:none;
    resize: none;
    outline: none;
}
#submit_type_choice input{
    display: none;
}
#submit_type_choice input[type="radio"]+label div{
    cursor: pointer;
    height: 55px;
    width: 100%;
    line-height: 55px;
    font-size: 20px;
    font-family: Arial;
    background-color: #CCC;
    color: #777;
}
#submit_type_choice input[type="radio"]:checked+label div{
    width: calc(100% - 4px);
    background-color: #FF8000;
    border: 2px solid #FFB233;
    color: #FFF;
}
#submit_button{
    width: 100%;
    font-size: 20px;
    height: 65px;
    line-height: 65px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #FF2C33;
    transition: background-color 0.5s,color 0.5s;
}
#submit_button:hover{
    background-color: #FFF;
    color: #FF2C33;
}

#animate_layer{
    position: absolute;;
    padding-top: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 100px);
    display: none;
    z-index: -1;
}

.little_image{
    position: absolute;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 960px) {
    img{
        width: 100%;
        height: auto;
    }
    .submission_form_container{
        width: 100%;
        height: 70%;
    }
    #editor{
        font-size: 20px;
        height: 90%;
    }
}
