body{
    margin: 0pc;
    background-color: #000;
    color: #FFF;
    font-family: Roboto;
}
img
{
    max-width:100%;
    height: 20%;
}

.button{
    cursor: pointer;
}
.submission_form_container{
    width: 40%;
}
#editor{
    width: 100%;
    height: 400px;
    font-size: 14px;
    background-color: #333;
    color: #FFF;
    border-style:none;
}
#submit_button{
    width: 100%;
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #FF2C33;
}
@media screen and (max-width: 960px) {
    .submission_form_container{
        width: 100%;
        height: 80%;
    }
    #editor{
        font-size: 20px;
        height: calc(100% - 55px);
    }
}
